{% extends './_base.html' %}
{% load static %}
{% block content %}
  {% include 'tougshire_vistas/filter.html' %}

  <div class="list">
    <div><a href="{% url 'prosdib:project-create' %}">create</a></div>
      <div class="row rowhead">
        {% include './_list_head.html' with field='' %}
        {% if 'title' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=project_labels.title %}
        {% endif %}
        {% if 'description' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=project_labels.description %}
        {% endif %}
        {% if 'priority' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=project_labels.priority %}
        {% endif %}
        {% if 'begin' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=project_labels.begin %}
        {% endif %}
        {% if 'technician' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=project_labels.technician %}
        {% endif %}
        {% if 'status' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=project_labels.status %}
        {% endif %}
        {% if 'time_spent' in show_columns or not show_columns %}
          {% include './_list_head.html' with field='Time Spent' %}
        {% endif %}
        {% if 'notes' in show_columns or not show_columns %}
          {% include './_list_head.html' with field='Notes' %}
        {% endif %}
      </div>

      {% for item in object_list %}
        <div class="row">
          <div class="listfield"><a href="{% url 'prosdib:project-detail' item.pk %}">view</a></div>
          {% if 'item' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.title %}
          {% endif %}
          {% if 'description' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.description %}
          {% endif %}
          {% if 'priority' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.priority %}
          {% endif %}
          {% if 'begin' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.begin|date:'Y-m-d' %}
          {% endif %}
          {% if 'technician' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.technician %}
          {% endif %}
          {% if 'status' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.get_status_display %}
          {% endif %}
          {% if 'time_spent' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=item.time_spent %}
          {% endif %}
          {% if 'notes' in show_columns or not show_columns %}
            <div class="field column">
              {% for note in item.get_current_notes %}
                {{ note }}<br>
              {% endfor %}
            </div>
          {% endif %}

        </div>
      {% endfor %}

    </div>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a id="a_first" href="?page=1">&laquo; first</a>
            <a id="a_previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a id="a_next" href="?page={{ page_obj.next_page_number }}">next</a>
            <a id="a_last" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>


{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>

  for( paginator of ['a_first', 'a_previous', 'a_next', 'a_last']) {
    if(!(document.getElementById(paginator)==null) ) {
      document.getElementById(paginator).addEventListener('click', function(e) {
        e.preventDefault()
        document.getElementById('frm_vista').action = e.target.href
        document.getElementById('frm_vista').submit()
      });
    }
  }
  </script> {% endcomment %}

  <script>
    addFilterInput("ctrl__filter__item__in")
  </script>
  <script>
    addFilterInput("ctrl__filter__item__in")
  </script>


  <script>
    document.getElementById('btn_showvista').addEventListener('click', function(e){
      e.preventDefault
      toggleVisibility('div_vista', 'btn_showvista')
    });

    document.addEventListener('keydown', function(e) {
      if(e.ctrlKey) {
        if(e.shiftKey) {
          if(e.which==70) {
            e.preventDefault();
             toggleVisibility('div_vista', 'btn_showvista')
          }
        }
      }
    });
    toggleVisibility('div_vista', 'btn_showvista', 0 )

  </script>







{% endblock %}
