{% load perm_checks %}
  <h2>{{ object }}</h2>

  <div class="detail">
    {% include './_detail_field.html' with label=project_labels.title field=object.title %}
    {% include './_detail_field.html' with label=project_labels.description field=object.description %}
    {% include './_detail_field.html' with label=project_labels.priority field=object.get_priority_display %}
    {% include './_detail_field.html' with label=project_labels.technician field=object.technician %}
    {% include './_detail_field.html' with label=project_labels.created_by field=object.created_by %}
    {% include './_detail_field.html' with label=project_labels.begin field=object.begin %}
    {% include './_detail_field.html' with label=project_labels.status field=object.status %}
    {% include './_detail_field.html' with label=project_labels.completion_notes field=object.completion_notes %}
    {% include './_detail_field.html' with label='Total time spent' field=object.total_time_spent %}

    <h3>Notes</h3><span id="div_relatednotesShowing">Showing All </span><a href="#" id="a_toggleCurrent">Show Current</a>
    {% user_is_editor object user as editor %}
    <div class="detail-related">
      <div class="relatedheader">
        <div class="field">
          Date/time of note
        </div>
        <div class="field">
          Text
        </div>
        <div class="field">
          Submitted By
        </div>
        <div class="field">
          Time spent
        </div>
        <div class="field">
          Is Current
        </div>

      </div>

    {% for projectnote in object.projectnote_set.all %}
      <div class="relatedset relatednote{% if projectnote.is_current %} current{% endif %}" id="div_relatednote-{{ forloop.counter0 }}">

        <div class="field">
              {{ projectnote.when|date:'Y-m-d' }}
            </div>
            <div class="field">
              {{ projectnote.text }}
            </div>
            <div class="field">
              {{ projectnote.submitted_by }}
            </div>
            <div class="field">
              {{ projectnote.time_spent }}
            </div>
            <div class="field">
              {{ projectnote.is_current|yesno }}
            </div>

      </div>
    {% endfor %}
    <div class="relatedset relatednote" id="div_relatednote-empty" style="display:none">
      <div class="field">
      </div>
      <div class="field">
      </div>
      <div class="field">
      </div>
      <div class="field">
      </div>
    </div>
  </div>

  <script>
    function refreshDiv(fields, model) {
      var emptydiv = document.getElementById('div_' + model + '-empty')
      var newdiv = emptydiv.cloneNode(true)
      var allRelatednoteDivs = document.getElementsByClassName('relatednote')
      newdiv.id = 'div_' + model + '-' + allRelatednoteDivs.length
      keys = Object.keys(fields)
      console.log('keys:')
      console.log(keys)
      for(key of keys){
        console.log("span[data-field='" + key + "']")
        console.log(fields[key])
        newdiv.querySelector("span[data-field='" + key + "']").innerText=fields[key]
      }
      newdiv.style.display="block"
      emptydiv.parentNode.insertBefore(newdiv, emptydiv)
    }
  </script>
  <script>
    function toggleCurrentNotes() {
      var relatednotes=document.getElementsByClassName('relatednote')
      var relatednotesShowing = document.getElementById('div_relatednotesShowing')
      var toggleCurrent = document.getElementById('a_toggleCurrent')
      if(toggleCurrent.textContent=='Show All '){
        for(relatednote of relatednotes) {
          if(!(relatednote.classList.contains('current'))){
            {% comment %} relatednote.classList.remove('hidden') {% endcomment %}
            relatednote.style.display=null;

          }
        }
        toggleCurrent.textContent='Show Current '
        relatednotesShowing.textContent='Showing All '
      } else {
        for(relatednote of relatednotes) {
          if(!(relatednote.classList.contains('current'))){
            console.log('adding hidden')
            {% comment %} relatednote.classList.add('hidden')  {% endcomment %}
            relatednote.style.display="none";
          }
        }
        toggleCurrent.textContent='Show All '
        relatednotesShowing.textContent='Showing Current '
      }
    }
    toggleCurrentNotes()
    document.getElementById('a_toggleCurrent').addEventListener('click', function(e) {
      e.preventDefault()
      toggleCurrentNotes()
    });
  </script>

