{% extends './_form.html' %}
{% load static %}
{% load perm_checks %}
{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">
    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <div id="div_title">
        {% include './_form_field.html' with field=form.title %}
      </div>
      <div id="div_description">
        {% include './_form_field.html' with field=form.description %}
      </div>
      <div id="div_begin">
        {% include './_form_field.html' with field=form.begin %}
      </div>
      <div id="div_priority">
        {% include './_form_field.html' with field=form.priority %}
      </div>
      {% if perms.prosdib.change_project %}
        <div id="div_technician">
          {% include './_form_field.html' with field=form.technician %}
        </div>
        <div id="div_status">
          {% include './_form_field.html' with field=form.status %}
        </div>
        <div id="div_time_spent">
          {% include './_form_field.html' with field=form.time_spent %}
        </div>
        <div id="div_completion_notes">
          {% include './_form_field.html' with field=form.completion_notes %}
        </div>
        <div id="div_recipient_emails">
          {% include './_form_field.html' with field=form.recipient_emails %}
        </div>
        <div id="div_send_mail">
          {% include './_form_field.html' with field='<input type="checkbox" name="send_mail">' label_tag="Send Emails" help_text="Send emails for this update" %}
        </div>
      {% endif %}

      {% include './_form_button.html' with label="Submit Form" button='<button type="submit">Submit</button>' %}

      <h3>Notes</h3>

      {{ projectnotes.management_form }}
      {% for projectnoteform in projectnotes.forms %}
        {% if projectnoteform.id.value > 0 %}
          <div id="div_projectnoteform_{{ projectnoteform.id.value }}" class="projectnoteformsetform"  >
            {% for hiddenfield in projectnoteform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include './_form_field.html' with field=projectnoteform.when %}
            {% include './_form_field.html' with field=projectnoteform.text %}
            {% include './_form_field.html' with field=projectnoteform.is_current %}
            {% include './_form_field.html' with field=projectnoteform.time_spent %}
            {% include './_form_field.html' with field=projectnoteform.DELETE %}
          </div>
        {% else %}
          <div class="projectnoteformsetform projectnotenewform" >
            {% for hiddenfield in projectnoteform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}

            {% include './_form_field.html' with field=projectnoteform.when %}
            {% include './_form_field.html' with field=projectnoteform.text %}
            {% include './_form_field.html' with field=projectnoteform.is_current %}
            {% include './_form_field.html' with field=projectnoteform.time_spent %}
            {% include './_form_field.html' with field=projectnoteform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      <table>
        <tr>
          <th>
            <button type="button" id="button_addprojectnote">Add</button>
          </th>
          <th>
            Date
          </th>
          <th>
            Text
          </th>
          <th>
            Time Spent
          </th>
          <th>
            Is Current
          </th>
        </tr>
        {% for projectnote in object.projectnote_set.all %}
          <tr id="tr_projectnote_{{ projectnote.id }}">
            <td>
              <button type="button" id="button_editprojectnote_{{ projectnote.id }}" data-formid="div_projectnoteform_{{ projectnote.id }}" data-displayid="tr_projectnote_{{ projectnote.id }}" class="projectnote_edit_button">edit</button>
            </td>
            <td>
              {{ projectnote.when }}
            </td>
            <td>
              {{ projectnote.text }}
            </td>
            <td>
              {{ projectnote.time_spent }}
            </td>
            <td>
              <input type="checkbox" id="input_proxy_is_current_{{ projectnote.id }}" class="is_current_proxy"{% if projectnote.is_current %} checked="CHECKED"{% endif %} data-formid="div_projectnoteform_{{ projectnote.id }}">
            </td>
          </tr>
        {% endfor %}
      </table>
      {% include './_form_button.html' with label="Submit Form" button='<button type="submit">Submit</button>' %}

    </div>

  </form>

{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>
    addRelatedPopupButton( 'id_technician', 'Technician', '{% url "prosdib:technician-create" %}')
  function getControlIdsForPopups(modelName) {
    controlIds = {
      'Technician': ['id_technician']
    }
    return( controlIds[modelName])
  }
  </script>

  <script>
    function addAddNotePopupEvent() {
      aAddNote = document.getElementById('a_addnote')
      if(typeof(aAddNote) != 'undefined' && aAddNote != null){
        document.getElementById('a_addnote').addEventListener('click', function(e) {
          e.preventDefault()
          window.open(e.target.href)
        });
      }
    }
    addAddNotePopupEvent()
    function refreshDiv(fields, model) {
      var emptydiv = document.getElementById('div_' + model + '-empty')
      var newdiv = emptydiv.cloneNode(true)
      var allProjectnoteDivs = document.getElementsByClassName('relatedprojectnote')
      newdiv.id = 'div_' + model + '-' + allProjectnoteDivs.length
      keys = Object.keys(fields)
      console.log('keys:')
      console.log(keys)
      for(key of keys){
        console.log("span[data-field='" + key + "']")
        console.log(fields[key])
        newdiv.querySelector("span[data-field='" + key + "']").innerText=fields[key]
      }
      newdiv.style.display="block"
      emptydiv.parentNode.insertBefore(newdiv, emptydiv)
    }
  </script>
  <script>
    function enableFormsetForm(formid, displayid) {
      let form = document.getElementById(formid)
      document.getElementById(formid).style.display="block"
      document.getElementById(displayid).style.display="none"
    }
    function enableAddFormsetForm(formclass) {
      let newforms = document.getElementsByClassName(formclass)
      if( newforms.length > 0) {
        let newform = newforms[0]
        newform.style.display="block"
        newform.classList.remove(formclass)
      } else {
        alert('please save before adding more')
      }
    }

    document.getElementById('button_addprojectnote').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('projectnotenewform')
    })
    let projectnoteforms = document.getElementsByClassName("projectnoteformsetform")
    for( projectnoteform of projectnoteforms ){
      projectnoteform.style.display="none"
    }

  </script>
  <script>
    document.body.addEventListener('click', function(e) {
      if(e.target.classList.contains('projectnote_edit_button')) {
        e.preventDefault();
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      }
      if(e.target.classList.contains('is_current_proxy')) {
        checkForm = document.getElementById(e.target.dataset.formid)
        checkBox = checkForm.querySelector("input[name$='is_current']")
        checkBox.checked = e.target.checked
      }
    })
  </script>


{% endblock %}

