{% load prosdib_perm_checks %}
  <h2>{{ object }}</h2>

  <div class="detail">
    {% include './_detail_field.html' with label=project_labels.title field=object.title %}
    {% include './_detail_field.html' with label=project_labels.description field=object.description %}
    {% include './_detail_field.html' with label=project_labels.priority field=object.get_priority_display %}
    {% include './_detail_field.html' with label=project_labels.technician field=object.technician %}
    {% include './_detail_field.html' with label=project_labels.created_by field=object.created_by %}
    {% include './_detail_field.html' with label=project_labels.begin field=object.begin %}
    {% include './_detail_field.html' with label=project_labels.status field=object.status %}
    {% include './_detail_field.html' with label='Total time spent' field=object.get_time_spent %}

    {% if not hide_notes %}
    <h3>Notes</h3><span id="div_projectNotesShowing">Showing All </span><a href="#" id="a_toggleCurrent">Show Current</a>
    {% for projectnote in object.projectnote_set.all %}
      <div class="relatedset relatedprojectnote{% if projectnote.is_current %} current{% endif %}" id="div_projectnote-{{ forloop.counter0 }}">
        <div class="fieldWrapper">
          <div class="control">
            <div class="label">
              Note:
            </div>
            <div class="field">
              {{ projectnote }}
            </div>
          </div>
          {% if projectnote.details %}
            <div class="control">
              <div class="label">
                &nbsp;Details:
              </div>
              <div class="field">
                &nbsp;{{ projectnote.details }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    {% endif %}
  </div>

  <script>
    function refreshDiv(fields, model) {
      var emptydiv = document.getElementById('div_' + model + '-empty')
      var newdiv = emptydiv.cloneNode(true)
      var allRelatednoteDivs = document.getElementsByClassName('relatednote')
      newdiv.id = 'div_' + model + '-' + allRelatednoteDivs.length
      keys = Object.keys(fields)
      console.log('keys:')
      console.log(keys)
      for(key of keys){
        console.log("span[data-field='" + key + "']")
        console.log(fields[key])
        newdiv.querySelector("span[data-field='" + key + "']").innerText=fields[key]
      }
      newdiv.style.display="block"
      emptydiv.parentNode.insertBefore(newdiv, emptydiv)
    }
  </script> 
  <script>
    function toggleCurrentNotes() {
      var projectNotes=document.getElementsByClassName('relatedprojectnote')
      var projectNotesShowing = document.getElementById('div_projectNotesShowing')
      var toggleCurrent = document.getElementById('a_toggleCurrent')
      if(toggleCurrent.textContent=='Show All '){
        for(projectNote of projectNotes) {
          if(!(projectNote.classList.contains('current'))){
            projectNote.classList.remove('hidden')
          }
        }
        toggleCurrent.textContent='Show Current '
        projectNotesShowing.textContent='Showing All '
      } else {
        for(projectNote of projectNotes) {
          if(!(projectNote.classList.contains('current'))){
            console.log('adding hidden')
            projectNote.classList.add('hidden')
          }
        }
        toggleCurrent.textContent='Show All '
        projectNotesShowing.textContent='Showing Current '
      }
    }
    toggleCurrentNotes()
    document.getElementById('a_toggleCurrent').addEventListener('click', function(e) {
      e.preventDefault()
      toggleCurrentNotes()
    });
  </script>


