{% extends './_base.html' %}
{% load static %}
{% block content %}
  {% include 'tougshire_vistas/filter.html' %}

  <div class="list">
    <div><a href="{% url 'prosdib:project-create' %}">create</a></div>
      <table>
        <tr class="row rowhead">
          {% include 'touglates/list_field.html' with field='' tag='th' %}
          {% if 'title' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field="Title" tag='th' %}
          {% endif %}
          {% if 'description' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field='Description' tag='th' %}
          {% endif %}
          {% if 'priority' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field='Priority' tag='th' %}
          {% endif %}
          {% if 'begin' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field='Start' tag='th' %}
          {% endif %}
          {% if 'technician' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field='Tech' tag='th' %}
          {% endif %}
          {% if 'status' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field='Status' tag='th' %}
          {% endif %}
          {% if 'time_spent' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field='Time Spent' tag='th' %}
          {% endif %}
          {% if 'notes' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field='Notes' tag='th' %}
          {% endif %}
        </tr>

      {% for item in object_list %}
        <tr class="row">
          <td class="listfield"><a href="{% url 'prosdib:project-detail' item.pk %}">view</a></td>
          {% if 'item' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=item.title tag="td" %}
          {% endif %}
          {% if 'description' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=item.description tag="td" %}
          {% endif %}
          {% if 'priority' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=item.priority tag="td" %}
          {% endif %}
          {% if 'begin' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=item.begin|date:'Y-m-d' tag="td" %}
          {% endif %}
          {% if 'technician' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=item.technician tag="td" %}
          {% endif %}
          {% if 'status' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=item.status tag="td" %}
          {% endif %}
          {% if 'time_spent' in show_columns or not show_columns %}
            {% include 'touglates/list_field.html' with field=item.get_time_spent tag="td" %}
          {% endif %}
          {% if 'notes' in show_columns or not show_columns %}
            <td class="field column">
              {% for note in item.get_current_notes %}
                {{ note }}<br>
              {% endfor %}
            </td>
          {% endif %}

          </tr>
      {% endfor %}

        </table>
  </div>
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a id="a_first" href="?page=1">&laquo; first</a>
            <a id="a_previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a id="a_next" href="?page={{ page_obj.next_page_number }}">next</a>
            <a id="a_last" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>


{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>

  for( paginator of ['a_first', 'a_previous', 'a_next', 'a_last']) {
    if(!(document.getElementById(paginator)==null) ) {
      document.getElementById(paginator).addEventListener('click', function(e) {
        e.preventDefault()
        document.getElementById('frm_vista').action = e.target.href
        document.getElementById('frm_vista').submit()
      });
    }
  }
  </script>

  <script>
    addFilterInput("ctrl__filter__item__in")
  </script>
  <script>
    addFilterInput("ctrl__filter__item__in")
  </script>


  <script>
    document.getElementById('btn_showvista').addEventListener('click', function(e){
      e.preventDefault
      toggleVisibility('div_vista', 'btn_showvista')
    });

    document.addEventListener('keydown', function(e) {
      if(e.ctrlKey) {
        if(e.shiftKey) {
          if(e.which==70) {
            e.preventDefault();
             toggleVisibility('div_vista', 'btn_showvista')
          }
        }
      }
    });
    toggleVisibility('div_vista', 'btn_showvista', 0 )

  </script>







{% endblock %}
