{% extends './_form.html' %}
{% load static %}
{% load perm_checks %}
{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">
    <div class="form">
      {% csrf_token %}
      <input type="hidden" name='opener' id="input_opener">
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}
      <div id="div_user">
        {% include './_form_field.html' with field=form.user %}
      </div>
      <div id="div_name">
        {% include './_form_field.html' with field=form.name %}
      </div>
      <div id="is_current">
        {% include './_form_field.html' with field=form.is_current %}
      </div>

      {% include './_form_button.html' with label="Submit Form" button='<button type="submit">Submit</button>' %}


    </div>

  </form>
  <script>
    if(window.opener) {
      document.getElementById('input_opener').value = window.opener.location.href
    }
  </script>

{% endblock %}
{% block bottomscript %}
  {{ block.super }}

{% endblock %}

